{
   "arrowParens": "always",
   "bracketSameLine": true,
   "bracketSpacing": true,
   "jsxSingleQuote": true,
   "semi": false,
   "singleQuote": true,
   "tabWidth": 3,
   "trailingComma": "es5",
   "htmlWhitespaceSensitivity": "css"
}
